In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('DataScienceDf.csv')

In [13]:
df.head()

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [14]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [15]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [16]:
df.drop(['SalaryExtractHourly'], axis=1)

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,US$112K - US$225K
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,US$80K - US$120K
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,US$90K - US$140K
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,US$53.62 - US$64.58
898,Unknown,Remote,Data Scientist,"Buyers Edge Platform, LLC4.3 ★\nData Scientist...",Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,NaN

In [19]:
df.SalaryExtract=df.SalaryExtract.str.replace('K','',regex=True)

In [22]:
df.SalaryExtract=df.SalaryExtract.str.replace('US','',regex=True)

In [24]:
df.SalaryExtract=df.SalaryExtract.str.replace('$','',regex=True)

In [26]:
df.SalaryExtract

0           $74 - $125
1                  NaN
2           $90 - $120
3          $105 - $146
4                  NaN
            ...
894        $112 - $225
895         $80 - $120
896         $90 - $140
897    $53.62 - $64.58
898                NaN
Name: SalaryExtract, Length: 899, dtype: object

In [28]:
 df['SalaryExtract'].str.contains('$').any()

True

In [30]:
df['SalaryExtract'] = df['SalaryExtract'].str.replace('$', '')

In [31]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object