In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataScienceDf.csv')

In [3]:
df.head(5)

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [4]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [5]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [6]:
df.SalaryExtract=df.SalaryExtract.str.replace('K','',regex=True)

In [7]:


df.SalaryExtract=df.SalaryExtract.str.replace('US','',regex=True)

In [8]:
df.SalaryExtract=df.SalaryExtract.str.replace('$','',regex=True)

In [9]:
df.SalaryExtract

0           $74 - $125
1                  NaN
2           $90 - $120
3          $105 - $146
4                  NaN
            ...
894        $112 - $225
895         $80 - $120
896         $90 - $140
897    $53.62 - $64.58
898                NaN
Name: SalaryExtract, Length: 899, dtype: object

In [10]:
 df['SalaryExtract'].str.contains('$').any()

True

In [11]:
df['SalaryExtract'] = df['SalaryExtract'].str.replace('$', '')

In [12]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [13]:
df['SalaryExtract'].dropna(inplace=True)

In [14]:
df['SalaryExtract'].value_counts().sum()

659

In [15]:
df['SalaryExtract'].value_counts()

SalaryExtract
74 - 125         30
90 - 120         30
53.62 - 64.58    30
90 - 140         30
80 - 120         30
112 - 225        30
70 - 105         30
100 - 120        30
71 - 133         30
50.00 - 55.00    30
132              30
93 - 132         30
48 - 78          30
80 - 110         30
92 - 143         30
112 - 135        30
102 - 144        30
60 - 140         30
83 - 114         30
60.00 - 70.00    30
105 - 146        30
90 - 133         29
Name: count, dtype: int64

In [16]:
def undersplit(x):
    x = str(x)
    if "-" in x:
        return x.split("-", 1)
    else:
        return [x, 0]

In [17]:
df[["minSalary","maxSalary"]] = [ undersplit(i) for i in df['SalaryExtract']]

In [18]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [19]:
df[["minSalary","maxSalary"]].head(10)
#.str.split(r'\.', 1, expand=True

  minSalary maxSalary
0       74        125
1       nan         0
2       90        120
3      105        146
4       nan         0
5    60.00      70.00
6       nan         0
7       nan         0
8       83        114
9       60        140

In [20]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'SalaryExtract',
       'SalaryExtractHourly', 'minSalary', 'maxSalary'],
      dtype='object')

In [21]:
df.drop(["SalaryExtract"],inplace=True, axis=1)

In [22]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'SalaryExtractHourly',
       'minSalary', 'maxSalary'],
      dtype='object')

In [23]:
df.drop(['SalaryExtractHourly'], axis=1,inplace = True)

In [24]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [25]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [26]:
#df.dropna(subset=['minSalary'], inplace=True)

In [27]:
df.shape

(899, 14)

In [28]:
dfresult = df.dropna()

In [29]:
df.dropna(inplace= True)

In [30]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,nan,0
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,nan,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58
898,Unknown,Remote,Data Scientist,"Buyers Edge Platform, LLC4.3 ★\nData Scientist...",Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,nan,0

In [31]:
df.isna().sum()

CompanyName          0
Location             0
Job_Title            0
SalaryEstimate       0
Job_Desc             0
NumberOfEmployees    0
FoundingYear         0
CompanyType          0
IndustryType         0
SectorType           0
RevenueType          0
Rating               0
minSalary            0
maxSalary            0
dtype: int64

In [32]:
df = df.drop(df[df['minSalary'] == 'nan'].index)

In [33]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70,105
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58

In [34]:
df.Job_Title.value_counts()

Job_Title
Data Scientist                                                 508
Sr. Data Analyst                                                60
Data Scientist 4676                                             30
Junior Data Scientist                                           30
Data Scientist (Remote - US based)                              30
Entry Level Data Science - December 2023 and May 2024 Grads      1
Name: count, dtype: int64

In [35]:
df.CompanyName.value_counts()

CompanyName
Unknown                              209
Nexlogica                             30
Context Labs                          30
Ryden Global LLC                      30
Buchanan And Edwards Group\n4.0       30
Tech brothers infoservices            30
MetroStar\n3.5                        30
Brainwave360                          30
Matrix New World Engineering\n4.0     30
Lendistry\n3.6                        30
Sunixa Solutions\n4.9                 30
plaxonic\n4.4                         30
Publicis Media\n3.9                   30
Tidepool                              30
FAST GROWING TREES LLC\n4.2           30
SilverEdge                            29
NXP Semiconductors\n4.1                1
Name: count, dtype: int64

In [36]:
df[df.CompanyName=="Matrix New World Engineering\n4.0"]

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
32,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
62,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
92,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
122,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
152,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
182,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
212,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
242,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
272,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
302,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
332,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
362,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
392,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
422,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
452,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
482,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
512,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
542,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
572,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
602,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
632,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
662,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
692,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
722,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
752,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
782,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
812,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
842,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
872,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120

In [37]:
df["HourlyminSal"] = df.minSalary.str.extract(r'([0-9]+[0-9]\.+[0-9]+[0-9])')

In [38]:
df["HourlyminSal"]

0        NaN
2        NaN
3        NaN
5      60.00
8        NaN
       ...
893      NaN
894      NaN
895      NaN
896      NaN
897    53.62
Name: HourlyminSal, Length: 659, dtype: object

In [39]:
df.HourlyminSal = df.HourlyminSal.astype(float)

In [40]:
df.HourlyminSal.info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlyminSal
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 10.3 KB

In [41]:
#df['Hourly'] = df['Hourly']*10

In [42]:
def mutiply(x):
    if x=="NaN":
        x="NaN"
        return x
    else:
        b = x*8
        x = ((b*22)*12)/1000
        return x

In [43]:
df.HourlyminSal =  [ mutiply(i) for i in df['HourlyminSal']]

In [44]:
df['HourlyminSal'].info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlyminSal
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 10.3 KB

In [45]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary,HourlyminSal
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00,126.72000
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70,105,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225,NaN
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58,113.24544

In [46]:
df[['minSalary','HourlyminSal', 'maxSalary']]

    minSalary  HourlyminSal maxSalary
0         74            NaN       125
2         90            NaN       120
3        105            NaN       146
5      60.00      126.72000     70.00
8         83            NaN       114
..        ...           ...       ...
893       70            NaN       105
894      112            NaN       225
895       80            NaN       120
896       90            NaN       140
897    53.62      113.24544     64.58

[659 rows x 3 columns]

In [47]:
df['HourlyminSal'] = df['HourlyminSal'].mask(df['HourlyminSal'].isna(), df['minSalary'])

In [48]:
df['HourlyminSal'].head()

0       74
2       90
3      105
5    126.72
8       83
Name: HourlyminSal, dtype: object

In [49]:
df['HourlyminSal'].info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlyminSal
Non-Null Count  Dtype
--------------  -----
659 non-null    object
dtypes: object(1)
memory usage: 10.3+ KB

In [50]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary',
       'HourlyminSal'],
      dtype='object')

In [51]:
df = df.rename(columns={'HourlyminSal': 'minSalary_new'})

In [52]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary',
       'minSalary_new'],
      dtype='object')

In [53]:
df["HourlymaxSal"] = df.maxSalary.str.extract(r'([0-9]+[0-9]\.+[0-9]+[0-9])')

In [54]:
df.HourlymaxSal = df.HourlymaxSal.astype(float)  # =  [ mutiply(i) for i in df['HourlymaxSal']]

In [55]:
df.HourlymaxSal.info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlymaxSal
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 10.3 KB

In [56]:
df.HourlyminSal =  [ mutiply(i) for i in df['HourlyminSal']]

KeyError: 'HourlyminSal'

In [56]:
#df['HourlymaxSal'] = df['HourlymaxSal'].mask(df['HourlymaxSal'].isna(), df['maxSalary'])

In [57]:
df[['minSalary_new', 'maxSalary','HourlymaxSal']]

    minSalary_new maxSalary  HourlymaxSal
0             74        125           NaN
2             90        120           NaN
3            105        146           NaN
5          126.72     70.00         70.00
8             83        114           NaN
..            ...       ...           ...
893           70        105           NaN
894          112        225           NaN
895           80        120           NaN
896           90        140           NaN
897     113.24544     64.58         64.58

[659 rows x 3 columns]

In [58]:
df.HourlymaxSal =  [ mutiply(i) for i in df['HourlymaxSal']]

In [59]:
df[['minSalary_new', 'maxSalary','HourlymaxSal']]

    minSalary_new maxSalary  HourlymaxSal
0             74        125           NaN
2             90        120           NaN
3            105        146           NaN
5          126.72     70.00     147.84000
8             83        114           NaN
..            ...       ...           ...
893           70        105           NaN
894          112        225           NaN
895           80        120           NaN
896           90        140           NaN
897     113.24544     64.58     136.39296

[659 rows x 3 columns]

In [60]:
df['HourlymaxSal'] = df['HourlymaxSal'].mask(df['HourlymaxSal'].isna(), df['maxSalary'])

In [61]:
df[['minSalary_new', 'maxSalary','HourlymaxSal']]

    minSalary_new maxSalary HourlymaxSal
0             74        125          125
2             90        120          120
3            105        146          146
5          126.72     70.00       147.84
8             83        114          114
..            ...       ...          ...
893           70        105          105
894          112        225          225
895           80        120          120
896           90        140          140
897     113.24544     64.58    136.39296

[659 rows x 3 columns]

In [62]:
df = df.rename(columns={'HourlymaxSal': 'maxSalary_new'})

In [63]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125,74,125
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146,105,146
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00,126.72,147.84
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114,83,114

In [64]:
df.minSalary_new = df.minSalary_new.astype(int)

In [65]:
df.maxSalary_new = df.maxSalary_new.astype(int)

In [66]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125,74,125
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146,105,146
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00,126,147
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114,83,114

In [67]:
df.Rating.info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: Rating
Non-Null Count  Dtype
--------------  -----
659 non-null    float64
dtypes: float64(1)
memory usage: 10.3 KB

In [68]:
df.RevenueType.value_counts()

RevenueType
-2                          238
Unknown / Non-Applicable    180
$25 to $50 million (USD)     90
$1 to $5 million (USD)       90
$5 to $10 billion (USD)      31
$5 to $25 million (USD)      30
Name: count, dtype: int64

In [69]:
df.SectorType.value_counts()

SectorType
Unknown                                        150
Information Technology                         150
Finance                                        120
Unknown / Non-Applicable                        88
Retail & Wholesale                              60
Construction, Repair & Maintenance Services     30
Media & Communication                           30
Healthcare                                      30
Manufacturing                                    1
Name: count, dtype: int64

In [70]:
df.IndustryType.value_counts()

IndustryType
Unknown                                    150
Information Technology Support Services    150
Banking & Lending                          120
Information Technology                      88
Home Furniture & Housewares Stores          60
Architectural & Engineering Services        30
Advertising & Public Relations              30
Healthcare Services & Hospitals             30
Electronics Manufacturing                    1
Name: count, dtype: int64

In [71]:
df.CompanyType.value_counts()

CompanyType
Company - Private                          300
Company - Public                            91
Unknown                                     90
Unknown / Non-Applicable                    60
Enterprise Software & Network Solutions     58
Software Development                        30
Non-profit Organisation                     30
Name: count, dtype: int64

In [72]:
df.FoundingYear.value_counts()

FoundingYear
2015                 180
Company - Public      90
0                     90
2013                  60
2005                  60
Company - Private     58
1990                  30
1998                  30
1999                  30
1926                  30
2006                   1
Name: count, dtype: int64

In [73]:
df.NumberOfEmployees.value_counts()

NumberOfEmployees
51 to 200 Employees     210
201 to 500 Employees    180
Unknown                 118
-2                       90
10000+ Employees         31
1 to 50 Employees        30
Name: count, dtype: int64

In [74]:
df.Job_Title.value_counts()

Job_Title
Data Scientist                                                 508
Sr. Data Analyst                                                60
Data Scientist 4676                                             30
Junior Data Scientist                                           30
Data Scientist (Remote - US based)                              30
Entry Level Data Science - December 2023 and May 2024 Grads      1
Name: count, dtype: int64

In [75]:
df.Location.value_counts()

Location
Remote            300
Tustin, CA        120
Chantilly, VA      58
Cambridge, MA      30
McLean, VA         30
Washington, DC     30
Tampa, FL          30
New York, NY       30
Palo Alto, CA      30
Austin, TX          1
Name: count, dtype: int64

In [76]:
df.CompanyName.value_counts()

CompanyName
Unknown                              209
Nexlogica                             30
Context Labs                          30
Ryden Global LLC                      30
Buchanan And Edwards Group\n4.0       30
Tech brothers infoservices            30
MetroStar\n3.5                        30
Brainwave360                          30
Matrix New World Engineering\n4.0     30
Lendistry\n3.6                        30
Sunixa Solutions\n4.9                 30
plaxonic\n4.4                         30
Publicis Media\n3.9                   30
Tidepool                              30
FAST GROWING TREES LLC\n4.2           30
SilverEdge                            29
NXP Semiconductors\n4.1                1
Name: count, dtype: int64

In [77]:
df["HourlymaxSal"] = df.maxSalary.str.extract(r'([0-9]+[0-9]\.+[0-9]+[0-9])')

In [78]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary',
       'minSalary_new', 'maxSalary_new', 'HourlymaxSal'],
      dtype='object')

In [115]:
df["Python"] = df.Job_Desc.apply(lambda x: 1 if 'python' in x.lower() else 0) #df.SalaryEstimate.str.extract(r'(\bPython\b)')

In [121]:
df["Sql"] = df.SalaryEstimate.apply(lambda x: 1 if 'sql' in x.lower() else 0)

In [122]:
df["Python"].value_counts()

Python
0    331
1    328
Name: count, dtype: int64

In [123]:
df["Spark"].value_counts()

Spark
0    629
1     30
Name: count, dtype: int64

In [132]:
df["Pandas"] = df.SalaryEstimate.apply(lambda x: 1 if 'pandas' in x.lower() else 0 )

In [133]:
df["Pandas"].value_counts()

Pandas
0    629
1     30
Name: count, dtype: int64

In [139]:
df["Excel"] = df.Job_Desc.apply(lambda x: 1 if 'excel' in x.lower() else 0 )

In [141]:
df.Excel.value_counts()

Excel
0    539
1    120
Name: count, dtype: int64

In [134]:
df["Rating"].value_counts()

Rating
-2.0    238
 3.6    120
 4.0     60
 4.9     60
 4.4     60
 4.2     60
 3.5     30
 3.9     30
 4.1      1
Name: count, dtype: int64

In [88]:
df.head(20)

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,...,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new,HourlymaxSal,Python,Spark,sql,MachineLearning
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,...,4.1,74,125,74,125,NaN,NaN,NaN,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",...,4.0,90,120,90,120,NaN,NaN,NaN,NaN,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,...,-2.0,105,146,105,146,NaN,NaN,NaN,NaN,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,...,-2.0,60.00,70.00,126,147,70.00,NaN,NaN,NaN,NaN
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,...,4.0,83,114,83,114,NaN,NaN,NaN,NaN,NaN
9,Tech brothers infoservices,Remote,Data Scientist,Tech brothers infoservices\nData Scientist\nRe...,"We are looking for junior, mid-level or senior...",Unknown,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,...,-2.0,60,140,60,140,NaN,NaN,NaN,NaN,NaN
11,MetroStar\n3.5,"Washington, DC",Data Scientist 4676,MetroStar3.5 ★\nData Scientist 4676\nWashingto...,"As a Data Scientist, you'll integrate with cro...",201 to 500 Employees,1999,Company - Private,Information Technology Support Services,Information Technology,...,3.5,102,144,102,144,NaN,NaN,NaN,NaN,NaN
12,Brainwave360,Remote,Data Scientist,Brainwave360\nData Scientist\nRemote\nUS$112K ...,Responsibilities:\n- Utilize advanced analytic...,-2,0,Unknown,Unknown,Unknown,...,-2.0,112,135,112,135,NaN,NaN,NaN,NaN,NaN
13,Unknown,Remote,Data Scientist,Intone Networks4.3 ★\nPM/Data Scientist Role\n...,Responsibilities:\n- Utilize advanced analytic...,-2,0,Unknown,Unknown,Unknown,...,-2.0,92,143,92,143,NaN,NaN,NaN,NaN,NaN
14,Lendistry\n3.6,"Tustin, CA",Data Scientist,"Lendistry3.6 ★\nData Scientist\nTustin, CA\nUS...",ABOUT LENDISTRY\nLendistry is the country’s la...,201 to 500 Employees,2015,Company - Private,Banking & Lending,Finance,...,3.6,80,110,80,110,NaN,NaN,NaN,NaN,NaN
15,Unknown,"Tustin, CA",Data Scientist,CPChem3.9 ★\nEntry Level Data Scientist 2023/2...,ABOUT LENDISTRY\nLendistry is the country’s la...,201 to 500 Employees,2015,Company - Private,Banking & Lending,Finance,...,3.6,48,78,48,78,NaN,Python,NaN,NaN,NaN
16,Unknown,"Tustin, CA",Data Scientist,Federal Reserve Bank of Dallas4.1 ★\nData Scie...,ABOUT LENDISTRY\nLendistry is the country’s la...,201 to 500 Employees,2015,Company - Private,Banking & Lending,Finance,...,3.6,93,132,93,132,NaN,NaN,NaN,NaN,NaN
17,Unknown,"Tustin, CA",Data Scientist,"Coalition4.5 ★\nSenior Data Scientist, Operati...",ABOUT LENDISTRY\nLendistry is the country’s la...,201 to 500 Employees,2015,Company - Private,Banking & Lending,Finance,...,3.6,132,0,132,0,NaN,NaN,NaN,NaN,NaN
18,Sunixa Solutions\n4.9,Remote,Sr. Data Analyst,Sunixa Solutions4.9 ★\nSr. Data Analyst\nRemot...,Hi\nJob title: Senior Data Analyst\nLocation: ...,51 to 200 Employees,2015,Company - Public,Information Technology Support Services,Information Technology,...,4.9,50.00,55.00,105,116,55.00,NaN,NaN,NaN,NaN
19,Unknown,Remote,Sr. Data Analyst,IBM3.9 ★\nData Scientist – Entry Level 2024\nA...,Hi\nJob title: Senior Data Analyst\nLocation: ...,51 to 200 Employees,2015,Company - Public,Information Technology Support Services,Information Technology,...,4.9,71,133,71,133,NaN,NaN,NaN,NaN,NaN
21,plaxonic\n4.4,"Tampa, FL",Data Scientist,"plaxonic4.4 ★\nData Scientist\nTampa, FL\nUS$1...",Onsite - Tampa FL\nFull time Permanent\nGood c...,51 to 200 Employees,2013,Company - Private,Information Technology Support Services,Information Technology,...,4.4,100,120,100,120,NaN,NaN,NaN,NaN,NaN
23,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,...,3.9,70,105,70,105,NaN,NaN,NaN,NaN,NaN
24,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,...,4.4,112,225,112,225,NaN,NaN,NaN,NaN,NaN
25,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,80,120,80,120,NaN,NaN,NaN,NaN,NaN
26,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,90,140,90,140,NaN,NaN,NaN,NaN,NaN

In [89]:
df.CompanyName.value_counts()

CompanyName
Unknown                              209
Nexlogica                             30
Context Labs                          30
Ryden Global LLC                      30
Buchanan And Edwards Group\n4.0       30
Tech brothers infoservices            30
MetroStar\n3.5                        30
Brainwave360                          30
Matrix New World Engineering\n4.0     30
Lendistry\n3.6                        30
Sunixa Solutions\n4.9                 30
plaxonic\n4.4                         30
Publicis Media\n3.9                   30
Tidepool                              30
FAST GROWING TREES LLC\n4.2           30
SilverEdge                            29
NXP Semiconductors\n4.1                1
Name: count, dtype: int64

In [94]:
df.CompanyName = df.CompanyName.str.replace('Buchanan And Edwards Group\n4.0', 'Buchanan And Edwards Group')

In [90]:
df.CompanyName.value_counts()

CompanyName
Unknown                              209
Nexlogica                             30
Context Labs                          30
Ryden Global LLC                      30
Buchanan And Edwards Group\n4.0       30
Tech brothers infoservices            30
MetroStar\n3.5                        30
Brainwave360                          30
Matrix New World Engineering\n4.0     30
Lendistry\n3.6                        30
Sunixa Solutions\n4.9                 30
plaxonic\n4.4                         30
Publicis Media\n3.9                   30
Tidepool                              30
FAST GROWING TREES LLC\n4.2           30
SilverEdge                            29
NXP Semiconductors\n4.1                1
Name: count, dtype: int64

In [91]:
df['CompanyName'].replace({'MetroStar\n3.5':'MetroStar',
                         'Matrix New World Engineering\n4.0':'Matrix New World Engineering',
                         'Lendistry\n3.6':'Lendistry',
                         'Sunixa Solutions\n4.9':'Sunixa Solutions',
                         'plaxonic\n4.4':'plaxonic',
                         'Publicis Media\n3.9':'Publicis Media',
                         'FAST GROWING TREES LLC\n4.2':'FAST GROWING TREES LLC',
                         'NXP Semiconductors\n4.1':'NXP Semiconductors'
                        }, 
                        regex=True, 
                        inplace=True)

In [92]:
df.CompanyName.value_counts()

CompanyName
Unknown                            209
Nexlogica                           30
Context Labs                        30
Ryden Global LLC                    30
Buchanan And Edwards Group\n4.0     30
Tech brothers infoservices          30
MetroStar                           30
Brainwave360                        30
Matrix New World Engineering        30
Lendistry                           30
Sunixa Solutions                    30
plaxonic                            30
Publicis Media                      30
Tidepool                            30
FAST GROWING TREES LLC              30
SilverEdge                          29
NXP Semiconductors                   1
Name: count, dtype: int64

In [93]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,...,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new,HourlymaxSal,Python,Spark,sql,MachineLearning
0,NXP Semiconductors,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,...,4.1,74,125,74,125,NaN,NaN,NaN,NaN,NaN
2,Matrix New World Engineering,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",...,4.0,90,120,90,120,NaN,NaN,NaN,NaN,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,...,-2.0,105,146,105,146,NaN,NaN,NaN,NaN,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,...,-2.0,60.00,70.00,126,147,70.00,NaN,NaN,NaN,NaN
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,...,4.0,83,114,83,114,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,...,3.9,70,105,70,105,NaN,NaN,NaN,NaN,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,...,4.4,112,225,112,225,NaN,NaN,NaN,NaN,NaN
895,FAST GROWING TREES LLC,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,80,120,80,120,NaN,NaN,NaN,NaN,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,90,140,90,140,NaN,NaN,NaN,NaN,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,...,-2.0,53.62,64.58,113,136,64.58,NaN,NaN,NaN,NaN

In [94]:
df.FoundingYear.value_counts()

FoundingYear
2015                 180
Company - Public      90
0                     90
2013                  60
2005                  60
Company - Private     58
1990                  30
1998                  30
1999                  30
1926                  30
2006                   1
Name: count, dtype: int64

In [95]:
df.NumberOfEmployees.value_counts()

NumberOfEmployees
51 to 200 Employees     210
201 to 500 Employees    180
Unknown                 118
-2                       90
10000+ Employees         31
1 to 50 Employees        30
Name: count, dtype: int64

In [102]:
#df = df.drop(df[df['FoundingYear'] == 'Company - Public'].index)

In [96]:
df.FoundingYear.value_counts()

FoundingYear
2015                 180
Company - Public      90
0                     90
2013                  60
2005                  60
Company - Private     58
1990                  30
1998                  30
1999                  30
1926                  30
2006                   1
Name: count, dtype: int64

In [97]:
df['FoundingYear'] = df['FoundingYear'].replace({'0':'Unknown','Company - Public':'Unknown','Company - Private':'Unknown'})

In [104]:
#df = df.drop(df[df['FoundingYear'] == 'Company - Private'].index)

In [98]:
df.FoundingYear.value_counts()

FoundingYear
Unknown    238
2015       180
2013        60
2005        60
1990        30
1998        30
1999        30
1926        30
2006         1
Name: count, dtype: int64

In [99]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,...,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new,HourlymaxSal,Python,Spark,sql,MachineLearning
0,NXP Semiconductors,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,...,4.1,74,125,74,125,NaN,NaN,NaN,NaN,NaN
2,Matrix New World Engineering,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",...,4.0,90,120,90,120,NaN,NaN,NaN,NaN,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Unknown,Software Development,Information Technology,Unknown / Non-Applicable,...,-2.0,105,146,105,146,NaN,NaN,NaN,NaN,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,Unknown,Unknown,Unknown,Unknown,...,-2.0,60.00,70.00,126,147,70.00,NaN,NaN,NaN,NaN
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,...,4.0,83,114,83,114,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,...,3.9,70,105,70,105,NaN,NaN,NaN,NaN,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,...,4.4,112,225,112,225,NaN,NaN,NaN,NaN,NaN
895,FAST GROWING TREES LLC,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,80,120,80,120,NaN,NaN,NaN,NaN,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,90,140,90,140,NaN,NaN,NaN,NaN,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Unknown,Unknown / Non-Applicable,Unknown,Unknown,...,-2.0,53.62,64.58,113,136,64.58,NaN,NaN,NaN,NaN

In [100]:
df.NumberOfEmployees.value_counts()

NumberOfEmployees
51 to 200 Employees     210
201 to 500 Employees    180
Unknown                 118
-2                       90
10000+ Employees         31
1 to 50 Employees        30
Name: count, dtype: int64

In [102]:
df['NumberOfEmployees'] = df['NumberOfEmployees'].replace({'-2':'Unknown'})

In [103]:
df.NumberOfEmployees.value_counts()

NumberOfEmployees
51 to 200 Employees     210
Unknown                 208
201 to 500 Employees    180
10000+ Employees         31
1 to 50 Employees        30
Name: count, dtype: int64

In [111]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,...,Rating,minSalary,maxSalary,minSalary_new,maxSalary_new,HourlymaxSal,Python,Spark,sql,MachineLearning
0,NXP Semiconductors,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,...,4.1,74,125,74,125,NaN,NaN,NaN,NaN,NaN
2,Matrix New World Engineering,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",...,4.0,90,120,90,120,NaN,NaN,NaN,NaN,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Unknown,Software Development,Information Technology,Unknown / Non-Applicable,...,-2.0,105,146,105,146,NaN,NaN,NaN,NaN,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,Unknown,Unknown,Unknown,Unknown,Unknown,...,-2.0,60.00,70.00,126,147,70.00,NaN,NaN,NaN,NaN
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,...,4.0,83,114,83,114,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,...,3.9,70,105,70,105,NaN,NaN,NaN,NaN,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,...,4.4,112,225,112,225,NaN,NaN,NaN,NaN,NaN
895,FAST GROWING TREES LLC,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,80,120,80,120,NaN,NaN,NaN,NaN,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,...,4.2,90,140,90,140,NaN,NaN,NaN,NaN,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Unknown,Unknown / Non-Applicable,Unknown,Unknown,...,-2.0,53.62,64.58,113,136,64.58,NaN,NaN,NaN,NaN

In [105]:
df.CompanyType.value_counts()

CompanyType
Company - Private                          300
Company - Public                            91
Unknown                                     90
Unknown / Non-Applicable                    60
Enterprise Software & Network Solutions     58
Software Development                        30
Non-profit Organisation                     30
Name: count, dtype: int64

In [106]:
df.IndustryType.value_counts()

IndustryType
Unknown                                    150
Information Technology Support Services    150
Banking & Lending                          120
Information Technology                      88
Home Furniture & Housewares Stores          60
Architectural & Engineering Services        30
Advertising & Public Relations              30
Healthcare Services & Hospitals             30
Electronics Manufacturing                    1
Name: count, dtype: int64

In [107]:
df.SectorType.value_counts()

SectorType
Unknown                                        150
Information Technology                         150
Finance                                        120
Unknown / Non-Applicable                        88
Retail & Wholesale                              60
Construction, Repair & Maintenance Services     30
Media & Communication                           30
Healthcare                                      30
Manufacturing                                    1
Name: count, dtype: int64

In [108]:
df.Rating.value_counts()

Rating
-2.0    238
 3.6    120
 4.0     60
 4.9     60
 4.4     60
 4.2     60
 3.5     30
 3.9     30
 4.1      1
Name: count, dtype: int64

In [109]:
df.Rating.info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: Rating
Non-Null Count  Dtype
--------------  -----
659 non-null    float64
dtypes: float64(1)
memory usage: 10.3 KB

In [110]:
df.NumberOfEmployees.value_counts()

NumberOfEmployees
51 to 200 Employees     210
Unknown                 208
201 to 500 Employees    180
10000+ Employees         31
1 to 50 Employees        30
Name: count, dtype: int64

In [142]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,...,maxSalary_new,HourlymaxSal,Python,Spark,sql,MachineLearning,Sql,Pandas,Aws,Excel
0,NXP Semiconductors,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,...,125,NaN,0,0,NaN,0,0,0,0,0
2,Matrix New World Engineering,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",...,120,NaN,0,0,NaN,0,0,0,1,1
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Unknown,Software Development,Information Technology,Unknown / Non-Applicable,...,146,NaN,0,0,NaN,0,0,0,0,0
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,Unknown,Unknown,Unknown,Unknown,Unknown,...,147,70.00,0,0,NaN,0,0,0,0,0
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,...,114,NaN,1,0,NaN,0,0,0,0,0

In [145]:
#Convert dataframe to csv
df.to_csv("CleanedDf.csv")

In [146]:
df.CompanyName.value_counts()

CompanyName
Unknown                            209
Nexlogica                           30
Context Labs                        30
Ryden Global LLC                    30
Buchanan And Edwards Group\n4.0     30
Tech brothers infoservices          30
MetroStar                           30
Brainwave360                        30
Matrix New World Engineering        30
Lendistry                           30
Sunixa Solutions                    30
plaxonic                            30
Publicis Media                      30
Tidepool                            30
FAST GROWING TREES LLC              30
SilverEdge                          29
NXP Semiconductors                   1
Name: count, dtype: int64