In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DataScienceDf.csv')

In [3]:
df.head(5)

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [4]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [5]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [6]:
df.SalaryExtract=df.SalaryExtract.str.replace('K','',regex=True)

In [7]:
df.SalaryExtract=df.SalaryExtract.str.replace('US','',regex=True)

In [8]:
df.SalaryExtract=df.SalaryExtract.str.replace('$','',regex=True)

In [9]:
df.SalaryExtract

0           $74 - $125
1                  NaN
2           $90 - $120
3          $105 - $146
4                  NaN
            ...
894        $112 - $225
895         $80 - $120
896         $90 - $140
897    $53.62 - $64.58
898                NaN
Name: SalaryExtract, Length: 899, dtype: object

In [10]:
 df['SalaryExtract'].str.contains('$').any()

True

In [11]:
df['SalaryExtract'] = df['SalaryExtract'].str.replace('$', '')

In [12]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [13]:
df['SalaryExtract'].dropna(inplace=True)

In [14]:
df['SalaryExtract'].value_counts().sum()

659

In [15]:
df['SalaryExtract'].value_counts()

SalaryExtract
74 - 125         30
90 - 120         30
53.62 - 64.58    30
90 - 140         30
80 - 120         30
112 - 225        30
70 - 105         30
100 - 120        30
71 - 133         30
50.00 - 55.00    30
132              30
93 - 132         30
48 - 78          30
80 - 110         30
92 - 143         30
112 - 135        30
102 - 144        30
60 - 140         30
83 - 114         30
60.00 - 70.00    30
105 - 146        30
90 - 133         29
Name: count, dtype: int64

In [16]:
def undersplit(x):
    x = str(x)
    if "-" in x:
        return x.split("-", 1)
    else:
        return [x, 0]

In [17]:
df[["minSalary","maxSalary"]] = [ undersplit(i) for i in df['SalaryExtract']]

In [18]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [20]:
df[["minSalary","maxSalary"]].head(10)
#.str.split(r'\.', 1, expand=True

  minSalary maxSalary
0       74        125
1       nan         0
2       90        120
3      105        146
4       nan         0
5    60.00      70.00
6       nan         0
7       nan         0
8       83        114
9       60        140

In [22]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'SalaryExtract',
       'SalaryExtractHourly', 'minSalary', 'maxSalary'],
      dtype='object')

In [24]:
df.drop(["SalaryExtract"],inplace=True, axis=1)

In [22]:
df.drop(['SalaryExtractHourly'], axis=1,inplace = True)

In [23]:
df.drop(['SalaryExtract'], axis=1,inplace = True)

In [24]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [25]:
#df.dropna(subset=['minSalary'], inplace=True)

In [52]:
#df