In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DataScienceDf.csv')

In [3]:
df.head(5)

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [4]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [5]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [6]:
df.drop(['SalaryExtractHourly'], axis=1)

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,US$112K - US$225K
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,US$80K - US$120K
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,US$90K - US$140K
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,US$53.62 - US$64.58
898,Unknown,Remote,Data Scientist,"Buyers Edge Platform, LLC4.3 ★\nData Scientist...",Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,NaN

In [7]:
df.SalaryExtract=df.SalaryExtract.str.replace('K','',regex=True)

In [8]:
df.SalaryExtract=df.SalaryExtract.str.replace('US','',regex=True)

In [9]:
df.SalaryExtract=df.SalaryExtract.str.replace('$','',regex=True)

In [10]:
df.SalaryExtract

0           $74 - $125
1                  NaN
2           $90 - $120
3          $105 - $146
4                  NaN
            ...
894        $112 - $225
895         $80 - $120
896         $90 - $140
897    $53.62 - $64.58
898                NaN
Name: SalaryExtract, Length: 899, dtype: object

In [11]:
 df['SalaryExtract'].str.contains('$').any()

True

In [12]:
df['SalaryExtract'] = df['SalaryExtract'].str.replace('$', '')

In [13]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [14]:
df['SalaryExtract'].dropna(inplace=True)

In [15]:
df['SalaryExtract'].value_counts().sum()

659

In [16]:
df['SalaryExtract'].value_counts()

SalaryExtract
74 - 125         30
90 - 120         30
53.62 - 64.58    30
90 - 140         30
80 - 120         30
112 - 225        30
70 - 105         30
100 - 120        30
71 - 133         30
50.00 - 55.00    30
132              30
93 - 132         30
48 - 78          30
80 - 110         30
92 - 143         30
112 - 135        30
102 - 144        30
60 - 140         30
83 - 114         30
60.00 - 70.00    30
105 - 146        30
90 - 133         29
Name: count, dtype: int64

In [17]:
def undersplit(x):
    x = str(x)
    if "-" in x:
        return x.split("-", 1)
    else:
        return [x, 0]

In [18]:
df[["minSalary","maxSalary"]] = [ undersplit(i) for i in df['SalaryExtract']]

In [19]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [20]:
df[["minSalary","maxSalary"]].head(10)
#.str.split(r'\.', 1, expand=True

  minSalary maxSalary
0       74        125
1       nan         0
2       90        120
3      105        146
4       nan         0
5    60.00      70.00
6       nan         0
7       nan         0
8       83        114
9       60        140

In [21]:
df.dropna(subset=["SalaryExtract"])

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly,minSalary,maxSalary
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74 - 125,NaN,74,125
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90 - 120,NaN,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105 - 146,NaN,105,146
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00 - 70.00,US$60.00 - US$70.00,60.00,70.00
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83 - 114,NaN,83,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70 - 105,NaN,70,105
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112 - 225,NaN,112,225
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80 - 120,NaN,80,120
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90 - 140,NaN,90,140
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62 - 64.58,US$53.62 - US$64.58,53.62,64.58

In [32]:
df.drop(['SalaryExtractHourly'], axis=1,inplace = True)

In [34]:
df.drop(['SalaryExtract'], axis=1,inplace = True)

In [45]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [53]:
df.dropna(subset=['minSalary'], inplace=True)

AttributeError: 'NoneType' object has no attribute 'dropna'

In [52]:
df