In [1]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import selenium
import time

import pandas as pd

In [11]:
url = "https://www.glassdoor.sg/Job/united-states-data-scientist-jobs-SRCH_IL.0,13_IN1_KO14,28.htm"
driver = webdriver.Chrome()
driver.get(url)
data = []

count = 0 
#while True:
resultSet = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/section/article/div[1]/ul")
options = resultSet.find_elements(By.TAG_NAME,"li")

    
    
for i in range(30):
    for option in options:
        count +=1
        print("")
        print("This is page number"+str(i))
        print("Count now "+str(count))
        
        if count == 1:
            print(option.text)
            option.click()
            
            
            try:
                WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "#LoginModal > div > div > div > div.actionBarMt0.css-gss116.e1jtvglp0 > button"))).click() 
                print("Element found")
            
            except NoSuchElementException:
                print("Element not found")
                pass
        else:
            try:
                WebDriverWait(driver, 20).until(EC.element_to_be_clickable((option))).click()
                #option.click()
                time.sleep(4)
                companyname = driver.find_element(By.CSS_SELECTOR, "#JDCol > div > article > div > div:nth-child(1) > div > div > div.css-66r6wp.evnfo7p1 > div.css-19txzrf.e14vl8nk0 > div.css-w04er4.e1tk4kwz6 > div.d-flex.justify-content-between > div").text
                print(companyname)
            except NoSuchElementException:
                companyname = "Unknown"
                pass
            except ElementClickInterceptedException:
                companyname = "Unknown"
                pass
                

            try:
                location = driver.find_element(By.CSS_SELECTOR,"#JDCol > div > article > div > div:nth-child(1) > div > div > div.css-66r6wp.evnfo7p1 > div.css-19txzrf.e14vl8nk0 > div.css-w04er4.e1tk4kwz6 > div.css-56kyx5.e1tk4kwz5").text
                print(location)
            except NoSuchElementException:
                location = "Unknown"
                pass

            

            try:
                jobtitle=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[1]/div/div/div[1]/div[3]/div[1]/div[2]").text
                print(jobtitle)
            except NoSuchElementException:
                jobtitle = "Unknown"
                pass

            try:
                #time.sleep(2)
                #showmore = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[1]/div/div[2]/span").click()
                salaryestimate=option.text
                print(salaryestimate)
            except NoSuchElementException:
                #print("No show more found")
                salaryestimate = "Unknown"
                pass
            
            try:
                #time.sleep(2)
                #showmore = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[1]/div/div[2]/span").click()
                jobdesc = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[1]/div/div[1]/div").text
                print(str(jobdesc))
            except NoSuchElementException:
                print("No show more found")
                jobdesc = "Unknown"
                pass

            try:
                NumberofEmployees=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[1]/span[2]").text
                print(NumberofEmployees)
            except NoSuchElementException:
                print("No element found Size")
                NumberofEmployees = -2
                
                pass
                
                
            try:
                FoundingYear=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[2]/span[2]").text
                print(FoundingYear)
            except NoSuchElementException:
                print("No element found Founding Year")
                FoundingYear = 0
                pass

            try:
                CompanyType=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[3]/span[2]").text
                print(CompanyType)
            except NoSuchElementException:
                print("No element found CompanyType")
                CompanyType = "Unknown"
                pass

            try:
                IndustryType=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[4]/span[2]").text
                print(IndustryType)
            except NoSuchElementException:
                print("No element found IndustryType")
                IndustryType = "Unknown"
                pass


            try:
                SectorType=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[5]/span[2]").text
                print(SectorType)
            except NoSuchElementException:
                print("No element found SectorType")
                SectorType = "Unknown"
                pass


            try:
                RevenueType=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[2]/div/div/div[1]/div/div[6]/span[2]").text
                print(RevenueType)
            except NoSuchElementException:
                print("No element found RevenueType")
                RevenueType = -2
                
                pass

            try:
                Rating=driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div/div/div/div[2]/section/div/div/article/div/div[2]/div[1]/div[3]/div/div/div[1]/div[1]").text
                print(Rating)
            except NoSuchElementException:
                print("No element found Rating")
                Rating = -2
                pass
            
            print("")    

            data.append({"CompanyName" : companyname,
            "Location" : location,
            "Job_Title" : jobtitle,
            "SalaryEstimate" : salaryestimate,
            "Job_Desc" : jobdesc,
            "NumberOfEmployees" : NumberofEmployees,
            "FoundingYear" : FoundingYear,
            "CompanyType" : CompanyType,
            "IndustryType" : IndustryType,
            "SectorType" : SectorType,
            "RevenueType" : RevenueType,
            "Rating" : Rating
            })
print("Number of jobs "+str(count))

This is page number0
Count now 1
Houzz3.7 ★
Revenue Data Scientist - Industry Solutions
Remote
US$130K - US$155K (Employer Est.)
Design, develop & deploy necessary KPIs to measure, track and report on revenue and its drivers. S degree in a technical discipline such as statistics,……
1d
Element found

This is page number0
Count now 2
Parafin
4.6
San Francisco, CA
Data Scientist, Analytics
Parafin4.6 ★
Data Scientist, Analytics
San Francisco, CA
US$150K - US$175K (Employer Est.)
Easy Apply
You have a bachelor's degree in statistics, engineering, math, computer science, or a related technical discipline. What You’ll Be Doing: We Prefer If You Have:…
30d+
About Us:
At Parafin, our mission is to grow small businesses. Small businesses are the backbone of our economy, yet banks do not have their back. Parafin is a technology company that builds infrastructure which enables small businesses to get easy access to financial services via platforms they sell on.

Parafin's first product offers capital-as-a-service for online platforms. Parafin currently powers the capital programs of platforms ranging from Series B to post-IPO companies such as DoorDash, Amazon, and Worldpay. We are a tight-knit team of engineers and designers, coming from organizations such as Stripe, Square, Plaid, Coinbase, Robinhood, Affirm, Uber, and CERN, and are excited both about helping hundreds of thousands of small businesses grow and thrive, and building products that leaders at top companies have started to use every day.

We are backed by prominent venture capitalists such as Ribbit Capital, Thrive Capital, GIC, Index Ventures, Green Oaks Capital, and SV Angel.
1 to 50 Employees
2020
Company - Private
Financial Transaction Processing
Finance
Unknown / Non-Applicable
4.6


This is page number0
Count now 3
Shoptrue, Inc.
Remote
Sr. Data Scientist - Machine Learning
Shoptrue, Inc.
Sr. Data Scientist - Machine Learning
Remote
Easy Apply
Shoptrue gives every shopper her own one stop personal shop™, curated for you and by you; a singular destination where shoppers can explore thousands of leading……
24h
What we do
Deliver a highly personalized shopping experience, including personalized product recommendations - using Collaborative Filtering as well as brand, style, and shape based recommender systems for personalized affinity predictions and recommendations.
Large scale text classification - to categorize products and extract attributes which helps retailers better organize their product catalogs.
Entity disambiguation - to help make sense of the thousands of different product sizes and to translate them all to a common scale.
Anomaly detection - to identify strange user behavior and, to detect both internal and external system issues.
51 to 200 Employees
Company - Private
Unknown / Non-Applicable
No element found IndustryType
No element found SectorType
No element found RevenueType
5.0


This is page number0
Count now 4
HawkEye360
3.4
Herndon, VA
Junior Data Scientist
HawkEye3603.4 ★
Junior Data Scientist
Herndon, VA
US$90K - US$140K (Employer Est.)
BS in computer science, engineering, or related quantitative field, or equivalent experience. They will focus on areas of analytics exploration which will……
6d
The Junior Data Scientist will be responsible for supporting the development of the next generation of AI solutions at Hawkeye 360. They will focus on areas of analytics exploration which will separate HawkEye 360 from the field of competitors. They will harness the power of AI,Machine Learning and Hawkeye 360's unique RF data to improve maritime domain situational awareness, further boosting HawkEye 360's dominance in this market.

The right candidate must be a creative problem solver who can look beyond the data to see underlying trends and patterns. They will need to leverage their knowledge of statistics, machine learning, and AI to create effective solutions to tackle real-world problems. The candidate will also need to leverage multiple data modalities to create solutions, so a good understanding of combining different data sources is key. Additionally, they will collaborate with engineering to transition R&D analytical solutions to production level code, integrating these solutions into existing pipelines.

As the Junior Data Scientist, your main responsibilities will be:




$90,000 - $140,000 annually

HawkEye 360 offers a compensation package that includes a competitive base salary plus annual performance bonus, stock options, and benefits. We consider many factors when determining salary offers, such as candidate's work experience, education, training & skills, as well as market and business considerations. We are also open to considering candidates with experience and qualifications at a different level than required in a job posting, which may affect the compensation package offered.


HawkEye 360 is delivering a revolutionary source of global knowledge based on radio frequency (RF) geospatial analytics to those working to make the world a safer place. The company operates a commercial satellite constellation that detects, geolocates, and identifies a broad range of signals & behaviors. We employ cutting edge AI techniques to equip our global customers with high-impact insights needed to make decisions with confidence. HawkEye 360 is headquartered in Herndon, Virginia.

HawkEye 360 is committed to hiring and retaining a diverse workforce. We are proud to be an Equal Opportunity Employer, making decisions without regard to race, color, religion, sex, sexual orientation, gender identity, gender expression, marital status, national origin, age, veteran status, disability, or any other protected class.

HawkEye 360 does not accept unsolicited agency resumes. Please do not forward resumes to our jobs alias, HawkEye 360 employees or any other organization location. HawkEye 360 is not responsible for any fees related to unsolicited resumes.
51 to 200 Employees
2015
Company - Private
Aerospace & Defence
Aerospace & Defence
$5 to $25 million (USD)
3.4


This is page number0
Count now 5

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=116.0.5845.141)
Stacktrace:
	GetHandleVerifier [0x00007FF68C5552A2+57122]
	(No symbol) [0x00007FF68C4CEA92]
	(No symbol) [0x00007FF68C39E3AB]
	(No symbol) [0x00007FF68C37E1B9]
	(No symbol) [0x00007FF68C3FB417]
	(No symbol) [0x00007FF68C40E24F]
	(No symbol) [0x00007FF68C3F6DB3]
	(No symbol) [0x00007FF68C3CD2B1]
	(No symbol) [0x00007FF68C3CE494]
	GetHandleVerifier [0x00007FF68C7FEF82+2849794]
	GetHandleVerifier [0x00007FF68C851D24+3189156]
	GetHandleVerifier [0x00007FF68C84ACAF+3160367]
	GetHandleVerifier [0x00007FF68C5E6D06+653702]
	(No symbol) [0x00007FF68C4DA208]
	(No symbol) [0x00007FF68C4D62C4]
	(No symbol) [0x00007FF68C4D63F6]
	(No symbol) [0x00007FF68C4C67A3]
	BaseThreadInitThunk [0x00007FFE3F3A7614+20]
	RtlUserThreadStart [0x00007FFE3F8C26A1+33]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating
0,"Shoptrue, Inc.",Remote,Sr. Data Scientist - Machine Learning,"Shoptrue, Inc.\nSr. Data Scientist - Machine L...",What we do\nDeliver a highly personalized shop...,51 to 200 Employees,Company - Private,Unknown / Non-Applicable,Unknown,Unknown,-2,5.0
1,Parafin\n4.6,"San Francisco, CA","Data Scientist, Analytics","Parafin4.6 ★\nData Scientist, Analytics\nSan F...","About Us:\nAt Parafin, our mission is to grow ...",1 to 50 Employees,2020,Company - Private,Financial Transaction Processing,Finance,Unknown / Non-Applicable,4.6
2,Otsuka\n3.9,"Princeton, NJ",Clinical Data Scientist,Otsuka3.9 ★\nClinical Data Scientist\nPrinceto...,Responsibilities:\nWork alongside statistician...,1001 to 5000 Employees,1989,Company - Private,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,Unknown / Non-Applicable,3.9
3,"ESRI, Inc.\n4.0","Redlands, CA",Python Data Science Software Development Engin...,"ESRI, Inc.4 ★\nPython Data Science Software De...",Overview:\nArcGIS Pro provides an industry-lea...,1001 to 5000 Employees,1969,Company - Private,Software Development,Information Technology,$2 to $5 billion (USD),4.0
4,SilverEdge,"Chantilly, VA",Data Scientist,"SilverEdge\nData Scientist\nChantilly, VA\nUS$...",Overview:\nThe Data Scientist will create data...,Unknown,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-2,-2
5,AT&T\n3.6,"Plano, TX",Specialist-Data Scientist,"AT&T3.6 ★\nSpecialist-Data Scientist\nPlano, T...",Join AT&T and reimagine the communications and...,10000+ Employees,1876,Company - Public,Telecommunications Services,Telecommunications,$10+ billion (USD),3.6
6,HawkEye360\n3.4,"Herndon, VA",Junior Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,The Junior Data Scientist will be responsible ...,51 to 200 Employees,2015,Company - Private,Aerospace & Defence,Aerospace & Defence,$5 to $25 million (USD),3.4
7,CORMAC\n3.8,Remote,Jr. Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Data Scientist\nCORMAC is transforming the Hea...,51 to 200 Employees,2002,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),3.8
8,DSMH LLC\n5.0,"Morton, IL",Data Scientist,"DSMH LLC5 ★\nData Scientist\nMorton, IL\nUS$50...","Title: Data Scientist\nLocation: Morton, IL\nD...",1 to 50 Employees,Company - Private,$1 to $5 million (USD),Unknown,Unknown,-2,5.0
9,TD Bank\n3.9,"Cherry Hill, NY",Data Scientist I,"TD Bank3.9 ★\nData Scientist I\nCherry Hill, N...",Data Scientist I\n418814BR\nJob Category - Pri...,10000+ Employees,1855,Company - Public,Banking & Lending,Finance,$10+ billion (USD),3.9
10,Caterpillar\n4.0,"Chicago, IL","Data Scientist I, Cat Digital","Caterpillar4 ★\nData Scientist I, Cat Digital\...",Career Area:\nInformation Analytics\nJob Descr...,10000+ Employees,1925,Company - Public,Machinery Manufacturing,Manufacturing,$10+ billion (USD),4.0
11,Ardent Principles,"Herndon, VA",Data Scientist,"Ardent Principles\nData Scientist\nHerndon, VA...",Data Scientist\nClearance:\nTS/SCI with FS Pol...,1 to 50 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2
12,United Fire & Casualty Co\n3.5,"Cedar Rapids, IA",Data Scientist,United Fire & Casualty Co3.5 ★\nData Scientist...,The UFG Enterprise Analytics Department is foc...,1001 to 5000 Employees,1946,Company - Public,Insurance Carriers,Insurance,$2 to $5 billion (USD),3.6
13,Intone Networks\n4.3,"Dallas, TX",PM/Data Scientist Role,Intone Networks4.3 ★\nPM/Data Scientist Role\n...,"PM/Data Scientist - Dallas, TX- 6 Month Contra...",201 to 500 Employees,Company - Private,Information Technology Support Services,Information Technology,$5 to $25 million (USD),-2,4.3
14,Cox Communications\n4.0,"Atlanta, GA",Data Scientist II,Cox Communications4 ★\nData Scientist II\nAtla...,We are seeking a talented and experienced Data...,10000+ Employees,1962,Company - Private,"Cable, Internet & Telephone Providers",Telecommunications,$10+ billion (USD),4.0
15,Lendistry\n3.6,"Tustin, CA",Data Scientist,"Lendistry3.6 ★\nData Scientist\nTustin, CA\nUS...",ABOUT LENDISTRY\nLendistry is the country’s la...,201 to 500 Employees,2015,Company - Private,Banking & Lending,Finance,Unknown / Non-Applicable,3.6
16,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2
17,Hyperspace Ventures\n4.2,"Durham, NC",Data Scientist,Hyperspace Ventures4.2 ★\nData Scientist\nDurh...,"Durham, NC | Austin, TX | Remote | Full Time\n...",1 to 50 Employees,2017,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,4.2
18,"OPS Consulting, LLC\n4.2","Annapolis Junction, MD",Data Scientist - Level 1,"OPS Consulting, LLC4.2 ★\nData Scientist - Lev...",OPS Consulting is seeking candidates for Data ...,51 to 200 Employees,1999,Company - Private,Information Technology Support Services,Information Technology,$1 to $5 million (USD),4.2
19,Federal Reserve Bank of Dallas\n4.1,"Dallas, TX",Data Scientist,Federal Reserve Bank of Dallas4.1 ★\nData Scie...,Company\nFederal Reserve Bank of Dallas\nWe ar...,1001 to 5000 Employees,1914,Company - Public,Banking & Lending,Finance,Unknown / Non-Applicable,3.9
20,Quora\n4.4,Remote,Senior Data Scientist (Remote),Quora4.4 ★\nSenior Data Scientist (Remote)\nRe...,"[Quora is a ""remote-first"" company. This posit...",201 to 500 Employees,2009,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,4.4
21,Coalition\n4.5,Remote,"Senior Data Scientist, Operations","Coalition4.5 ★\nSenior Data Scientist, Operati...",About Us\nCoalition is the world's first Activ...,201 to 500 Employees,2017,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,4.4
22,GTECH LLC,Remote,Data Scientist,GTECH LLC\nData Scientist\nRemote\nUS$125K - U...,Job Title: Data Scientist\nLocation: Remote\nJ...,-2,0,Unknown,Unknown,Unknown,-2,-2
23,Hewlett Packard Enterprise\n4.2,"Spring, TX",Data Science Graduate,Hewlett Packard Enterprise4.2 ★\nData Science ...,Data Science Graduate\n\nThis role has been de...,10000+ Employees,2015,Company - Public,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,4.2
24,A Place For Mom\n4.1,"Overland Park, KS",Data Analyst - Home Care,A Place For Mom4.1 ★\nData Analyst - Home Care...,Company Description\n\nAbout A Place for Mom\n...,501 to 1000 Employees,2000,Company - Private,Healthcare Services & Hospitals,Healthcare,Unknown / Non-Applicable,4.0
25,Daily Harvest\n3.4,"New York, NY","Data Scientist, Supply Chain","Daily Harvest3.4 ★\nData Scientist, Supply Cha...",Location: NYC\nAbout Daily Harvest\nAt Daily H...,51 to 200 Employees,2015,Company - Private,Food & Beverage Manufacturing,Manufacturing,Unknown / Non-Applicable,3.2
26,Applied Network Solutions Inc\n4.7,United States,Data Scientist,Applied Network Solutions Inc4.7 ★\nData Scien...,Description:\nWho we are:\nAt Applied Network ...,51 to 200 Employees,1999,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,4.7
27,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0
28,DonorSearch\n3.8,Remote,Junior Data Scientist,DonorSearch3.8 ★\nJunior Data Scientist\nRemot...,Background:\nDonorSearch is the leading provid...,1 to 50 Employees,Company - Public,Accounting & Tax,Finance,Unknown / Non-Applicable,-2,3.8

In [5]:
#df["SalaryExtract"]=df.SalaryEstimate.str.extract(r'([S-U]+[$]+[0-9]+[0-9]\D)') #+[0-9]+?.+?[K])') <  
df["SalaryExtract"]=df.SalaryEstimate.str.extract(r'([US]+[$]+[0-9]+[0-9]+?.+?[K])') #+[0-9]+?.+?[K])') <

In [6]:
df["SalaryExtract"]

0                   NaN
1     US$150K - US$175K
2     US$109K - US$149K
3      US$73K - US$125K
4      US$90K - US$133K
5      US$89K - US$170K
6      US$90K - US$140K
7                   NaN
8                   NaN
9      US$76K - US$125K
10                  NaN
11     US$85K - US$122K
12     US$88K - US$129K
13     US$92K - US$143K
14     US$95K - US$123K
15     US$80K - US$110K
16    US$105K - US$146K
17     US$92K - US$126K
18     US$84K - US$122K
19     US$93K - US$132K
20    US$122K - US$171K
21              US$132K
22    US$125K - US$135K
23     US$57K - US$131K
24      US$70K - US$80K
25    US$118K - US$143K
26    US$100K - US$185K
27     US$83K - US$114K
28      US$60K - US$64K
Name: SalaryExtract, dtype: object

In [7]:
# df["SalaryExtractHourly"]=df.SalaryEstimate.str.extract(r'([US]+[$]+[0-9]+[0-9]+?.+?[\.])') #+[0-9]+?.+?[K])') <
df["SalaryExtractHourly"]=df.SalaryEstimate.str.extract(r'([US]+[$]+[0-9]+[0-9]\.+[0-9]+[0-9]\s\-\s[US]+[$]+[0-9]+[0-9]\.+[0-9]+[0-9])')

In [8]:
df["SalaryExtractHourly"]

0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8     US$50.00 - US$55.00
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27                    NaN
28                    NaN
Name: SalaryExtractHourly, dtype: object

In [9]:
df['SalaryExtract'] = df['SalaryExtract'].mask(df['SalaryExtract'].isna(), df['SalaryExtractHourly'])

In [10]:
df['SalaryExtract']

0                     NaN
1       US$150K - US$175K
2       US$109K - US$149K
3        US$73K - US$125K
4        US$90K - US$133K
5        US$89K - US$170K
6        US$90K - US$140K
7                     NaN
8     US$50.00 - US$55.00
9        US$76K - US$125K
10                    NaN
11       US$85K - US$122K
12       US$88K - US$129K
13       US$92K - US$143K
14       US$95K - US$123K
15       US$80K - US$110K
16      US$105K - US$146K
17       US$92K - US$126K
18       US$84K - US$122K
19       US$93K - US$132K
20      US$122K - US$171K
21                US$132K
22      US$125K - US$135K
23       US$57K - US$131K
24        US$70K - US$80K
25      US$118K - US$143K
26      US$100K - US$185K
27       US$83K - US$114K
28        US$60K - US$64K
Name: SalaryExtract, dtype: object

In [8]:
df.to_csv('DataScienceDf.csv')

In [2]:
df2 = pd.read_csv('DataScienceDf.csv')

In [13]:
df2.head()

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [38]:
df2.Location.isna().sum()

0

In [19]:
df2.Location.unique()

array(['Austin, TX', 'Remote', 'Cambridge, MA', 'McLean, VA',
       'Washington, DC', 'Tustin, CA', 'Tampa, FL', 'New York, NY',
       'Palo Alto, CA', 'Chantilly, VA'], dtype=object)

In [20]:
df2.Location.value_counts()

Location
Remote            480
Tustin, CA        120
Cambridge, MA      60
Tampa, FL          60
Chantilly, VA      58
McLean, VA         30
Washington, DC     30
New York, NY       30
Palo Alto, CA      30
Austin, TX          1
Name: count, dtype: int64

In [21]:
dfRemote = df2.Location =="Remote"

In [22]:
dfRemote

0      False
1       True
2       True
3      False
4      False
       ...
894    False
895     True
896     True
897     True
898     True
Name: Location, Length: 899, dtype: bool

In [26]:
dff2Remote = df2.loc[df2['Location'] == "Remote"]

In [37]:
dff2Remote[["CompanyName","Job_Desc","Job_Title", "SalaryExtract","SalaryEstimate"]].head(40)

,CompanyName,Job_Desc,Job_Title,SalaryExtract,SalaryEstimate
1,State of Virginia\n3.6,"Job Duties/Responsibilities may include, but a...",Data Scientist,NaN,State of Virginia3.6 ★\nData Scientist\nRemote...
2,Matrix New World Engineering\n4.0,Are you passionate about finding insights from...,Data Scientist,US$90K - US$120K,Matrix New World Engineering4 ★\nData Scientis...
5,Ryden Global LLC,We are looking for a data scientist that will ...,Data Scientist,US$60.00 - US$70.00,Ryden Global LLC\nData Scientist\nRemote\nUS$6...
6,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,COEADAPT INC.\nData Scientist\nRemote\nEasy Ap...
7,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,Idea Evolver4.1 ★\nData Scientist\nRemote\nEas...
9,Tech brothers infoservices,"We are looking for junior, mid-level or senior...",Data Scientist,US$60K - US$140K,Tech brothers infoservices\nData Scientist\nRe...
10,Unknown,"We are looking for junior, mid-level or senior...",Data Scientist,NaN,Arrived\nData Analyst\nRemote\nEasy Apply\nBac...
12,Brainwave360,Responsibilities:\n- Utilize advanced analytic...,Data Scientist,US$112K - US$135K,Brainwave360\nData Scientist\nRemote\nUS$112K ...
13,Unknown,Responsibilities:\n- Utilize advanced analytic...,Data Scientist,US$92K - US$143K,Intone Networks4.3 ★\nPM/Data Scientist Role\n...
18,Sunixa Solutions\n4.9,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,US$50.00 - US$55.00,Sunixa Solutions4.9 ★\nSr. Data Analyst\nRemot...
19,Unknown,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,US$71K - US$133K,IBM3.9 ★\nData Scientist – Entry Level 2024\nA...
20,Unknown,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,NaN,Gamingtec5 ★\nData Scientist\nRemote\nEffectiv...
25,FAST GROWING TREES LLC\n4.2,Description:\n\nAbout the Company\nFast Growin...,Data Scientist,US$80K - US$120K,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...
26,Unknown,Description:\n\nAbout the Company\nFast Growin...,Data Scientist,US$90K - US$140K,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...
27,Nexlogica,Skills :\nPossess knowledge and technical expe...,Data Scientist,US$53.62 - US$64.58,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...
28,Unknown,Skills :\nPossess knowledge and technical expe...,Data Scientist,NaN,"Buyers Edge Platform, LLC4.3 ★\nData Scientist..."
31,State of Virginia\n3.6,"Job Duties/Responsibilities may include, but a...",Data Scientist,NaN,State of Virginia3.6 ★\nData Scientist\nRemote...
32,Matrix New World Engineering\n4.0,Are you passionate about finding insights from...,Data Scientist,US$90K - US$120K,Matrix New World Engineering4 ★\nData Scientis...
35,Ryden Global LLC,We are looking for a data scientist that will ...,Data Scientist,US$60.00 - US$70.00,Ryden Global LLC\nData Scientist\nRemote\nUS$6...
36,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,COEADAPT INC.\nData Scientist\nRemote\nEasy Ap...
37,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,Idea Evolver4.1 ★\nData Scientist\nRemote\nEas...
39,Tech brothers infoservices,"We are looking for junior, mid-level or senior...",Data Scientist,US$60K - US$140K,Tech brothers infoservices\nData Scientist\nRe...
40,Unknown,"We are looking for junior, mid-level or senior...",Data Scientist,NaN,Arrived\nData Analyst\nRemote\nEasy Apply\nBac...
42,Brainwave360,Responsibilities:\n- Utilize advanced analytic...,Data Scientist,US$112K - US$135K,Brainwave360\nData Scientist\nRemote\nUS$112K ...
43,Unknown,Responsibilities:\n- Utilize advanced analytic...,Data Scientist,US$92K - US$143K,Intone Networks4.3 ★\nPM/Data Scientist Role\n...
48,Sunixa Solutions\n4.9,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,US$50.00 - US$55.00,Sunixa Solutions4.9 ★\nSr. Data Analyst\nRemot...
49,Unknown,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,US$71K - US$133K,IBM3.9 ★\nData Scientist – Entry Level 2024\nA...
50,Unknown,Hi\nJob title: Senior Data Analyst\nLocation: ...,Sr. Data Analyst,NaN,Gamingtec5 ★\nData Scientist\nRemote\nEffectiv...
55,FAST GROWING TREES LLC\n4.2,Description:\n\nAbout the Company\nFast Growin...,Data Scientist,US$80K - US$120K,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...
56,Unknown,Description:\n\nAbout the Company\nFast Growin...,Data Scientist,US$90K - US$140K,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...
57,Nexlogica,Skills :\nPossess knowledge and technical expe...,Data Scientist,US$53.62 - US$64.58,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...
58,Unknown,Skills :\nPossess knowledge and technical expe...,Data Scientist,NaN,"Buyers Edge Platform, LLC4.3 ★\nData Scientist..."
61,State of Virginia\n3.6,"Job Duties/Responsibilities may include, but a...",Data Scientist,NaN,State of Virginia3.6 ★\nData Scientist\nRemote...
62,Matrix New World Engineering\n4.0,Are you passionate about finding insights from...,Data Scientist,US$90K - US$120K,Matrix New World Engineering4 ★\nData Scientis...
65,Ryden Global LLC,We are looking for a data scientist that will ...,Data Scientist,US$60.00 - US$70.00,Ryden Global LLC\nData Scientist\nRemote\nUS$6...
66,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,COEADAPT INC.\nData Scientist\nRemote\nEasy Ap...
67,Unknown,We are looking for a data scientist that will ...,Data Scientist,NaN,Idea Evolver4.1 ★\nData Scientist\nRemote\nEas...
69,Tech brothers infoservices,"We are looking for junior, mid-level or senior...",Data Scientist,US$60K - US$140K,Tech brothers infoservices\nData Scientist\nRe...
70,Unknown,"We are looking for junior, mid-level or senior...",Data Scientist,NaN,Arrived\nData Analyst\nRemote\nEasy Apply\nBac...
72,Brainwave360,Responsibilities:\n- Utilize advanced analytic...,Data Scientist,US$112K - US$135K,Brainwave360\nData Scientist\nRemote\nUS$112K ...